_site/
_cache/

dist-newstyle/
.stack-work/
.cabal-sandbox/
cabal.sandbox.config
hakyll-4.17.0.0/
*.hi
*.o
*.prof
*.aux
*.eventlog

cabal.project.local
.ghc.environment.*

.env
.env.*
!.env.example

.DS_Store
*.swp
*.swo
*~
